
/* Wine glass */

.glass {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 0px 0px 50% 50%;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: rgba(0,222,255, 0.3);
}
.glass::after {
  content: "";
  width: 100px;
  height: 50px;
  border-radius: 0px 0px 100px 100px;
  display:block;
  z-index: -1;
  background-color: rgba(255,0,0, 0.5);
}
.stem {
  margin: 0 auto;
  height: 75px;
  width: 10px;
  background-color: rgba(0,222,255, 0.3);
  border-bottom: 2px solid rgb(0,155.4,178.5) ;
  border-radius: 0px 0px 5px 5px;
}
.base {
  margin: 0 auto;
  margin-top: -6px;
  width: 100px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(0,222,255, 0.3);
}

/* Beer Glass */

.beerglass {
  margin: 0 auto;
  height: 200px;
  width: 100px;
  box-sizing: border-box;
  background-color: rgba(0,222,255, 0.3);
}

.beer {
  margin: 0 auto;
  width: 100px;
  height: 200px;
  display: block;
  z-index: -1;
  background-color: rgba(200,160,0, 0.5);
}

/* Liquor Bottle */

.bottle {
  margin: 0 auto;
  height: 300px;
  width: 100px;
  border-radius: 50px 50px 0px 0px;
  box-sizing: border-box;
  background-color: rgba(0,222,255, 0.3);
}

.spirit {
  margin: 0 auto;
  width: 100px;
  height: 200px;
  display:block;
  z-index: -1;
  background-color: rgba(38,38,12, 0.5);
}
.neck {
  margin: 0 auto;
  height: 30px;
  width: 40px;
  background-color: rgba(0,222,255, 0.3);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: -3px;
}

/* Three columns */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
